@import "styles/base";
@import "styles/function";
@import "styles/colors";



.mobile__menu {
  transition: right 0.5s ease-in-out;
  top: 0;
  position: fixed;
  z-index: 1000;
  margin-left: pxToRem(23);
  right: pxToRem(-6000);
  display: flex;
  background: #fff;
  height: 100vh;
  background: var(--Text-color-white, #fff);
  box-shadow: rgba(17, 17, 26, 0.1) 0px pxToRem(1) 0px, rgba(17, 17, 26, 0.1) 0px pxToRem(8) pxToRem(24), rgba(17, 17, 26, 0.1) 0px pxToRem(16) pxToRem(48);
  flex-direction: column;
  row-gap: pxToRem(100);
  padding: pxToRem(21) pxToRem(18);

  @media only screen and (min-width: $extra-devices) {
    display: none;
  }

  .row {
    .circel {
      width: pxToRem(40);
      height: pxToRem(40);
      background-color: #eaaa2a;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      cursor: pointer;

      img {
        width: pxToRem(20);
      }
    }
  }

  .items {
    display: flex;
    flex-direction: column;

    ul li:hover > a {
      color: #fff;
    }

    ul {
      .link:hover,
      a:hover {
        border-radius: pxToRem(8);
        background: #eaaa2a;
        box-shadow: pxToRem(10) pxToRem(4) pxToRem(64) pxToRem(10) rgba(211, 211, 242, 0.8);
      }

      li > .label:hover .link img,
      li:hover > a img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(327deg) brightness(110%) contrast(100%);
      }

      li {
        cursor: pointer;

        .link:hover {
          color: #fff !important;
        }
        .link {
          display: flex;
          align-items: center;

          span:first-child {
            margin-right: auto;
          }
        }

        .link,
        a {
          color: #4d4d4f;
          font-family: Poppins;
          font-size: pxToRem(16);
          font-style: normal;
          font-weight: 400;
          line-height: pxToRem(38);
          display: flex;
          align-items: center;
          padding: pxToRem(0) pxToRem(8);

          span:first-child {
            margin-right: auto;
          }
        }

        ul {
          padding: pxToRem(0) pxToRem(0) pxToRem(0) pxToRem(1);
        }
      }

      li {
        ul {
          padding: 0 0 0 8px;
          max-height: pxToRem(0);
          visibility: none;
          overflow: hidden;
          transition: max-height 0.3s ease;
        }
      }
    }
  }
}

.show {
  right: pxToRem(0) !important;
  left: pxToRem(23);
}

.label span img {
  transition: all 0.2s;
}

.sub__menu_checkbox:checked ~ .label span img {
  transform: rotate(90deg);
}



.sub__menu_checkbox:checked ~ ul {
  visibility: visible !important;
  max-height: pxToRem(200) !important;
}






