@import "@pasal/common-style/styles/base/functions.scss";
@import "@pasal/common-style/styles/abstract/variables.scss";



.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  
}

.productDetails {
  flex: 1;
  margin-right: 20px;
  padding: 0 0 0 1rem;

  h2 {
      margin-bottom: 20px;
  }

  .details {
      
      padding: 1rem;

      .detail {
          margin-bottom: 10px;
          display: flex;
          column-gap: 1rem;

          .label {
              font-weight: bold;
              width: 140px;
          }
      }

      .composition {
          display: flex;
          flex-direction: column;

          .compositionItem {
              display: flex;
              margin-bottom: 5px;
              column-gap: 1rem;

              > span:first-child {
                  width: 100px;
              }
          }
      }
  }
}

.productImage img {
  max-width: 100%;
  height: auto;
}